<ion-header>
  <ion-toolbar>
      <ion-buttons start>
          <ion-button icon-only (click)="annuler()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="connection-form finish">
        <ion-icon class="user-icon" name="ios-contact"></ion-icon><br>
        <ion-label>Information  &nbsp; <ion-icon name="create" classe="modifier_info" color="primary"></ion-icon></ion-label>
            <ion-list-header>
                <ion-label>Informations Publique</ion-label>
              </ion-list-header>
            <ion-item>
              <ion-label>Nom :</ion-label>
              <p>{{user?.nom}}</p>
            </ion-item>
            <ion-item>
                <ion-label>Prenom :</ion-label>
                <p>{{user?.prenom}}</p>
            </ion-item>
            <ion-item>
                <ion-label>Adresse :</ion-label>
                <p>{{user?.adresse}}</p>
            </ion-item>
            <ion-item>
                <ion-list lines="none">
                    <ion-list-header>
                      <ion-label>Contact en cas d'urgence</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let contact of user?.urgence">
                      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
                      <ion-label>{{contact.numero}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-list-header>
                <ion-label>Information prive</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label>Date naissance:</ion-label>
                <p>
                        <ion-datetime displayFormat="MM/DD/YYYY" [value]="user?.date_naissance"></ion-datetime>
                </p>
            </ion-item>
            <ion-item>
                <ion-label>Lieu naissance :</ion-label>
                <p>{{user?.lieu_naissance}}</p>
            </ion-item>
            <ion-button expand="full" (click)="authoriser()"><ion-icon name="eye-off" *ngIf="authorisation"></ion-icon><ion-icon name="eye" *ngIf="!authorisation"></ion-icon>Informations Medicales</ion-button>
            <ion-list *ngIf="authorisation">
                <ion-list-header >
                    <ion-label>Informations medicales</ion-label>
                </ion-list-header>
                <ion-item  *ngFor="let question of fiche">
                    <ion-label>{{question?.designation}}:</ion-label>
                    <p>{{question?.reponse}}</p>
                </ion-item>
            </ion-list>
       
      </div>
</ion-content>
