
    .connection-form{
        background-color: #FFFFFF;
        background-size: cover;
        width:90%;
        height: 90%;
        border-radius: 1rem;
        display: block;
        margin-left: 5%;
        margin-top: 2%;
        text-align: center;
    }
    .user-icon{
        zoom:6.0;
        margin-bottom: 1%;
        color: #01667A;
    }
    .modifier_info{
        zoom: 1.5;
    }