<ion-header>
  <ion-toolbar>
      <ion-buttons right>
          <ion-button icon-only (click)="fermer()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>rapport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <h2 class="ordonance_title">Rapport : TXAZER</h2>
  <p>
    Renvoyer à l'Hopital:  OUI/NON

    <br>
    <br>

    Donner une Ordonance: OUI/NON

    <br>
    <br>

    Docteur: Dr docter name

    <br><br><hr>

  </p> 
  <p class="ordonance">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis sint 
    consequuntur totam quibusdam, ducimus unde quos nemo nisi dignissimos,
     cum natus eveniet expedita tempora eaque. Dolor culpa deleniti ex numquam!
  </p>
  <ion-button expand="full" (click)="fermer()">Fermer</ion-button>
</ion-content>
