@font-face {
    font-family: 'docteur';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/DoctorVista.ttf');
  }
.ordonance{
    font-family: 'docteur';
    font-size: 10vw;
    line-height: .80;
}
.ordonance_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7vw;
    text-align: center;
    text-decoration: underline;
}